[Unit]
Description=Renda domain server
After=network.target

[Service]
Type=simple
User=domainserver
Environment="PORT=80"
Environment="WWW_DIR=/var/www"
ExecStart=/usr/local/bin/deno run --allow-env --allow-read --allow-net /home/domainserver/domain-server/main.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target
