[Unit]
Description=Renda domain server
After=network.target

[Service]
Type=simple
User=root
Environment="PORT=80"
Environment="TLS_PORT=443"
Environment="WWW_DIR=/var/www"
Environment="GITHUB_ACCESS_TOKEN=***"
Environment="TLS_CERT_FILE=/home/domainserver/certs/fullchain.pem"
Environment="TLS_KEY_FILE=/home/domainserver/certs/privkey.pem"
Environment="STABLE_DEPLOY_HASH_PATH=/home/domainserver/stable-deploy-hash"
Environment="CANARY_DEPLOY_HASH_PATH=/home/domainserver/canary-deploy-hash"
Environment="PR_DEPLOY_HASH_PATH=/home/domainserver/pr-deploy-hash"
ExecStart=/usr/local/bin/deno run --allow-env --allow-read --allow-write --allow-net /home/domainserver/domain-server/main.ts
AmbientCapabilities=CAP_NET_BIND_SERVICE
Restart=on-failure

[Install]
WantedBy=multi-user.target
